body {
    background-color: #eee;
}
table {
    padding: 5px;
    text-align: left;
}
td {
    padding: 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
th {
    padding: 5px;
}
h1 {
    text-align: left;
}
.css-selector {
    font-family: 'Pacifico', cursive;
}
.center-div {
    margin: 0 auto;
    max-width: 220px;
}
.collapse {
    border-collapse: collapse;
    width: 450px;
}
article {
    float: left;
    padding: 20px;
    width: 70%;
}
